* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar {
    /* width: 100%;a */
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 120px;
    width: 130px;
    margin: 5px;
    float: left;
    margin-left: 20px;
}

body {
    font-family: "Dosis", sans-serif;
}

.search-bar {
    justify-content: flex-end;
    display: flex;
}

.cart {
    display: flex;
    align-items: center;
    margin: 0px 130px;
}

.cart h5 {
    margin-right: 35px;
}

.search-bar input[type="text"] {
    padding: 8px 16px;
    border: 1px solid #ccc;
    border-radius: 20px 0 0 20px;
    outline: none;
    font-size: 16px;
    width: 220px;
    transition: border-color 0.2s;
}

.search-bar button {
    padding: 8px 20px;
    border: none;
    background-color: #222;
    color: #fff;
    border-radius: 0 20px 20px 0;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s;
}

.search-bar button:hover {
    background-color: #444;
}

.favorite-btn {
    padding: 8px 20px;
    color: #090808;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    transition: 0.2s;
}

.user-actions {
    display: flex;
    align-items: center;
    gap: 30px;
    color: #fff;
    font-size: 5%;
}

.header-icon {
    border: none;
    background: none;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
    font-size: 20px;
}

.header-icon:hover {
    background-color: #efefef;
    cursor: pointer;
}

.favourite {
    color: #ff0000 !important;
}

.hero {
    background: url('https://prod-img.thesouledstore.com/public/theSoul/uploads/catalog/category/catban-820250703225203.jpg?w=1500&dpr=1.3');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 55vh;
    width: 100%;
}

.first-content {
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 40px 0;
    flex-wrap: wrap;
    display: flex;
}

.first-content img {
    width: 400px;
    height: 500px;
    border-radius: 10px;
    transition: transform 0.3s ease;
    cursor: pointer;
} 


.box {
    display: flex;
    flex-direction: column;
}
.txt{
    width: 400px;
    height: 100px;
}
.hed{
    font-size: 15px;
    font-weight: 600;
    margin: 10px 1px 5px;
    color:rgb(41, 45, 53);
}

.des{
    font-size: 15px;
    color: grey;
    margin: 5px 1px;
}
.price{
    font-size: 18px;
    font-weight: 400;
    margin: 5px 1px;
    color: black;
}
.like{
    border: none;
    background: none;
    width: 40px;
    height: 40px;
    cursor: pointer;
    float: right;
    margin-top: -99px;
    margin-right: 10px;
    font-size: 16px;
    transition: 0.3s ease-in-out;
}
.like:hover {
    color: #ff0000;
}
.rating{
    position: absolute;
    background-color: rgb(255, 255, 255);
    color: rgb(7, 7, 7);
    padding: 5px 10px;
    border-radius: 20px;
    margin-left: 20px;
    margin-top: 460px;
    font-size: 14px;
}
